.glyphicon {
    margin-right: 2px;
}

.popover {
    max-width: 600px;
}

.lines-added {
    color: #55a532;
    margin-right: 3px;
}

.lines-deleted {
    color: #bd2c00;
}

.commenter {
    width: 16px;
    height: 16px;

    float: left;
    margin: 4px;

    cursor: pointer;
}

[class="commenter"] {
    margin-right: 0;
}

.lgtm {
    outline: 3px solid #55a532;
}

.asked-to-close {
    outline: 3px solid #bd2c00;
}

/* To provide some visual feedback that the icons are clickable */
.commenter-icon:hover {
    opacity: 0.8;
    border: 1px solid #428bca;
}

.jenkins-outcome-link:hover {
    color: #005580;
    text-decoration: underline;
    cursor: pointer;
}

/* Prevent selecting of span tag when popover is toggled by click */
span[data-toggle="popover"]:focus {
    outline: -webkit-focus-ring-color auto 0;
}

.sub-nav {
    margin-top: -20px;
    min-height: 25px;
    color: #555;
    background-color: #e7e7e7;
    border: none;
}

.subnav-active {
    color: #313131;
    background-color: #adadad;
}

.sub-nav li a {
    padding-top: 5px;
    padding-bottom: 5px;
    cursor: pointer;
}

.btn, .octicon, .glyphicon, .jira-link, .signed-in-as-text {
    margin-right: 5px;
}

.loading-icon {
    font-size: 36px;
}

.jira-links-list {
  list-style: none;
  padding-left:0;
}

.pr-title {
    word-break: break-word;
}