.glyphicon {
    margin-right: 2px;
}

.popover {
    max-width: 600px;
}

.lines-added {
    color: #55a532;
}

.lines-deleted {
    color: #bd2c00;
}

.lgtm {
    display: inline-block;
    border: 3px solid #55a532;
}

.asked-to-close {
    display: inline-block;
    border: 3px solid #bd2c00;
}

/* To provide some visual feedback that the icons are clickable */
.commenter-icon:hover {
    opacity: 0.8;
    border: 1px solid #428bca;
}

.jenkins-outcome-link:hover {
    color: #005580;
    text-decoration: underline;
}