<html>
<head>
    <title>Spark Pull Requests</title>
    <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/github-fork-ribbon/0.1.0/gh-fork-ribbon.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/github-fork-ribbon/0.1.0/gh-fork-ribbon.ie.css">
    <![endif]-->
    <style>
        .github-fork-ribbon {
            background-color: #333;
        }
        .glyphicon {
            margin-right: 2px;
        }
        .popover {
            max-width: 600px;
        }
    </style>
</head>

<body>
<div class="github-fork-ribbon-wrapper right">
    <div class="github-fork-ribbon">
        <a href="https://github.com/databricks/spark-pr-dashboard">Fork me on GitHub</a>
    </div>
</div>
    <div class="container-fluid">
        <h2>Spark Pull Requests</h2>
        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
        {% for group in issues | groupby('component') %}
            <li class="{% if loop.first %}active{% endif %}">
                <a href="#{{group.grouper}}" role="tag" data-toggle="tab">{{group.grouper}} <span class="badge">{{group.list | count}}</span></a>
            </li>
        {% endfor %}
        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
        {% for group in issues | groupby('component') %}
            <div class="tab-pane {% if loop.first %}active{% endif %}"
                 id="{{group.grouper}}">
            <table class="table table-striped table-condensed sortable">
            <tr>
                <th>Number</th>
                <th>Title</th>
                <th>Creator</th>
                <th>Commenters</th>
                <th>Last Jenkins Outcome</th>
                <th>Last Updated</th>
            </tr>
            {% for issue in group.list %}
                <tr>
                    <td class="sorttable_numeric">{{issue.number}}</td>
                    <td>{{issue.title_linked | safe}}</td>
                    <td sorttable_customkey="{{issue.user | lower}}">{{issue.user}}</td>
                    <td sorttable_customkey="{{issue.commenters | count}}">
                        {% for (username, comment_data) in issue.commenters %}
                        <img src="{{comment_data['avatar']}}&s=16"
                           height="16"
                           width="16"
                           alt="{{username}}"
                           class="comment-link"
                           data-markdown="{{comment_data['body']}}"
                           title='<a href="{{comment_data["url"]}}">Comment from {{username}}</a>'>
                        {% endfor %}
                    </td>
                    <td sorttable_customkey="{{issue.last_jenkins_outcome}}">
                        {% if issue.last_jenkins_outcome == "Pass" %}
                            <i class="glyphicon glyphicon-ok"></i> Passed
                        {% elif issue.last_jenkins_outcome == "Fail" %}
                            <i class="glyphicon glyphicon-remove"></i> Failed
                        {% elif issue.last_jenkins_outcome == "Timeout" %}
                            <i class="glyphicon glyphicon-time"></i> Timed out
                        {% elif issue.last_jenkins_outcome == "Running" %}
                            <i class="glyphicon glyphicon-arrow-right"></i> Running
                        {% elif issue.last_jenkins_outcome == "Verify" %}
                            <i class="glyphicon glyphicon-comment"></i> Admin needed
                        {% else %}
                            <i class="glyphicon glyphicon-question-sign"></i> Unknown
                        {% endif %}
                    </td>
                    <td sorttable_customkey="{{issue.updated_at}}"><abbr class="timeago" title="{{issue.updated_at}}Z">{{issue.updated_at}}</abbr></td>
                </tr>
            {% endfor %}
            </table>
            </div>
        {% endfor %}
        </div>
    </div>

    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/jquery-timeago/1.4.0/jquery.timeago.min.js"></script>
    <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/sorttable/2/sorttable.min.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/marked/0.3.2/marked.min.js"></script>
    <script type="text/javascript">
    jQuery(document).ready(function() {
        jQuery("abbr.timeago").timeago();
    });
    $('.comment-link').popover({
        trigger: "click",
        placement: "left",
        html: true,
        content: function() {
            return marked($(this).data("markdown"));
        }
    });
    // From http://stackoverflow.com/a/15670200/590203
    // Only allow one popover to be displayed at a time, and hide popovers
    // when clicking outside of them:
    $('html').on('mouseup', function(e) {
        if(!$(e.target).closest('.popover').length) {
            $('.popover').each(function(){
                $(this.previousSibling).popover('hide');
            });
        }
    });
    </script>
</body>
</html>
