{# dictionary in format outcome_name : (label, glyphicon_name) #}
{% set jenkins_outcomes = {
    "Pass": ("Passed", "ok"),
    "Fail": ("Failed", "remove"),
    "Timeout": ("Timed out", "time"),
    "Running": ("Running", "arrow-right"),
    "Verify": ("Admin needed", "comment"),
    "Asked": ("Asked to test", "comment"),
    "Unknown": ("Unknown", "question-sign"),
} %}

{% macro issues_table(issues, user) -%}
<table class="table table-striped table-condensed sortable">
    <tr>
        <th class="sorttable_numeric">Number</th>
        <th>JIRAs</th>
        <th>Title</th>
        <th>Author</th>
        <th>Commenters</th>
        <th>Changes</th>
        <th>Merges</th>
        <th>Jenkins</th>
        <th>Updated</th>
        {% if user and user.has_capability("jenkins") %}
        <th class="sorttable_nosort">Tools</th>
        {% endif %}
    </tr>
    {% for issue in issues %}
    <tr>
        <td>
            <a href="https://www.github.com/apache/spark/pull/{{issue.number}}" target="_blank">
                {{issue.number}}
            </a>
        </td>
        <td>
            {% for jira in issue.parsed_title['jiras'] %}
            <a href="http://issues.apache.org/jira/browse/SPARK-{{jira}}" target="_blank">{{jira}}</a>
            {% endfor %}
        </td>
        <td>
            <a href="https://www.github.com/apache/spark/pull/{{issue.number}}" target="_blank">
                {{issue.parsed_title['metadata']}}  {{issue.parsed_title['title']}}
            </a>
        </td>
        <td sorttable_customkey="{{issue.user | lower}}">
            <a href="/users/{{issue.user}}">
                {{issue.user}}
            </a>
        </td>
        <td sorttable_customkey="{{issue.commenters | count}}">
            {% for (username, comment_data) in issue.commenters %}
                        <span class="
                                {% if comment_data['said_lgtm'] %}
                                    lgtm
                                {% elif comment_data['asked_to_close'] %}
                                    asked-to-close
                                {% endif %}">
                            <img src="{{comment_data['avatar']}}&s=16"
                                 height="16"
                                 width="16"
                                 alt="{{username}}"
                                 class="markdown-popover"
                                 data-markdown="{{comment_data['body']}}"
                                 title='<a href="{{comment_data["url"]}}">Comment</a> from <a href="/users/{{username}}">{{username}}</a>'>
                        </span>
            {% endfor %}
        </td>
        <td sorttable_customkey="{{issue.lines_changed}}">
            <span class="lines-added">+{{issue.lines_added}}</span>
            <span class="lines-deleted">-{{issue.lines_deleted}}</span>
        </td>
        <td sorttable_customkey="{{issue.is_mergeable}}">
            {% if issue.is_mergeable %}
            <i class="glyphicon glyphicon-ok"></i>
            {% else %}
            <i class="glyphicon glyphicon-remove"></i>
            {% endif %}
        </td>
        <td sorttable_customkey="{{issue.last_jenkins_outcome}}">
            {% set (label, glyphicon_name) = jenkins_outcomes[issue.last_jenkins_outcome] %}
            <i class="glyphicon glyphicon-{{glyphicon_name}}"></i> {{label}}
        </td>
        <td sorttable_customkey="{{issue.updated_at}}"><abbr class="timeago" title="{{issue.updated_at}}Z">{{issue.updated_at}}</abbr></td>
        {% if user and user.has_capability("jenkins") %}
        <td>
            <form onsubmit="return test_jenkins({{issue.number}});" action="/trigger-jenkins/{{issue.number}}" method="post">
                <button type="submit" class="btn btn-default btn-xs">
                    <span class="glyphicon glyphicon-refresh"></span> Test with Jenkins
                </button>
            </form>
        </td>
        {% endif %}
    </tr>
    {% endfor %}
</table>
{%- endmacro %}